%header%
<div id="canvas-top">
  <div id="report">
    %report%
  </div>
  %menu%
</div>
<div id="canvas-left">
  %panel%
</div>
<div id="canvas-right">
  %contents%
</div>
<div id="canvas-bottom">
  %spot%
</div>
%footer%
